#full-screen-image {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:0;
}
	#full-screen-image img {
		position:absolute;
		top:0;
		left:0;
		z-index:2;
	}

	#full-screen-image #overlay {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:url('../images/overlay.png') repeat;
		z-index:5;
	}